{% extends "base.html" %}

{% block title %}Партнеры театра{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5">Наши партнеры</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for partner in partners %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <img src="{{ url_for('static', filename='img/' + partner.logo) }}" class="img-fluid mb-3" style="max-height: 100px;" alt="{{ partner.name }}">
                    <h5 class="card-title">{{ partner.name }}</h5>
                    <p class="card-text">{{ partner.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}